<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charges</title>
</head>
<body>
<h1>My charges</h1>
<a href="/">Return to Main page</a>
<table border="1px">
    <caption>My charges</caption>
    <tr>
        <td>
            Currency
        </td>
        <td>
            Amount
        </td>
        <td>
            Date
        </td>
    </tr>
    <tr>
        <td>
            Rubles
        </td>
        <td>
            +120.00
        </td>
        <td>
            13.10.2016
        </td>
    </tr>
    <tr>
        <td>
            Dollars
        </td>
        <td>
            +0.05
        </td>
        <td>
            13.10.2016
        </td>
    </tr>
</table>
</body>
</html>