{% extends "template.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <a href="{% url "finance:index" %}">Return to Main page</a>
    <p>Сообщение отладки (info)</p>
    {% for i in info %}
    <p>{{ i }}</p><br/>
    {% endfor %}
    <h3>Форма</h3>
    <form actionp="{% url "finance:charge_form" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-success" type="submit">Отправить</button>
    </form>
{% endblock %}py